@font-face {
  font-family: Splatoon;
  src: url("../../fonts/Splatoon2.otf") format("opentype");
}

:root {
  --colour-black: #232323;
  --colour-white: #fff;
  --colour-red: #FE4F30;
  --colour-purple2: #AA6AFE;
  --colour-purple: #614486;
  --colour-green: #CCFF64;
  --colour-green2: #BEFE6A;
}
