.searchTab {
  position: fixed;
  width: 40vw;
  height: 85vh;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 100px;
  border: 1px solid black;
  /* background-color: white; */
  background-color: yellow;
  top: 10.5vh;
  left: 0;
  transform: translate(0, -10%);
  transition: left 0.5s ease-in-out;
  z-index: 999;
}

.overlay {
  position: fixed;
  /* width: 100vw;
  height: 100vh; */
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  /* background-color: rgba(0, 0, 0, 0.7) */
  /* background-color: rgba(255, 255, 255, 0.9); */
  filter: blur(10px);
}

.hideFilter {
  left: -35vw;
}

.searchBar {
  display: flex;
  flex-direction: row;
}

.gearTypes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1px;
}

.brands {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  gap: 1px;
}
